html {
    font-family: ' Inter', sans-serif;
    background-color: #0a0c1b;
}

.container {
    display: block;
    margin: 150px auto;
    width: 1000px;
    height: 410px;
}

#card {
    display: inline-flex;
    width: 1000px;
    height: 410px;
    background-color: #1c1938;
    border-radius: 8px;
}

.stats-textarea {
    width: 450px;
    padding: 30px;
}

h1 {
    color: white;
}

#purple-word {
    color: #b751f7d0;
}

.stats-textarea {
    padding: 50px;
}

#p-text {
    color: #85839b;
    line-height: 25px;
}

.stats-block {
    display: inline-flex;
}

.stat {
    margin-top: 20px;
    margin-right: 60px;
}

.stat h2 {
    color: #ffff;
}

.stat p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.454);
    position: relative;
    bottom: 20px;
}

.image-div {
    background-color: #6e17a4;
}


/* ----------CHECKPOINT---------- */

#mobile-image-area {
    display: none;
    width: 350px;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#mobile-image-area img {
    width: 350px;
    height: 250px;
    opacity: 0.5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
} 

/* ----------CHECKPOINT---------- */


#desktop-image-area {
    width: 500px;
    height: 410px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#desktop-image-area img {
    width: 500px;
    height: 410px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0.5;
}

@media only screen and (max-width: 1037px) {

    .container {
        display: block;
        margin: 20px auto;
        width: 350px;
        height: 700px;
        
    }

    #card {
        display: block;
        width: 350px;
        height: 700px;
    }

    .stats-textarea {
        width: 93%;
        padding: 10px;
        text-align: center;
    }

    .stats-textarea h1 {
        font-size: 25px;
    }

    .stats-textarea #p-text {
        font-size: 12px;
        line-height: 1.5;
    }

    #desktop-image-area {
        display: none;
    }

    #mobile-image-area {
        display: block;
    }

    .stats-block {
        display: block;
        width: 100%;
    }

    .stat {
        display: block;
        margin: 10px auto;
    }

}